name: Deploy to Maven Central
on:
  workflow_dispatch:
    inputs:
      version-increment:
        description: 'Version-increment'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  deploy-maven:
    uses: entur/gha-maven-central/.github/workflows/maven-publish.yml@main
    secrets: inherit
    with:
      next_version: ${{ inputs.version-increment }}
      version_strategy: tag
      version_tag_prefix: v

